.about {
  padding: 50px 0 16px;
  background: $aboutBg;
  color: $whiteColor;
  &__block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  &__plate {
    // margin: -18px -48px;
    margin-top: -15px;
    margin-left: -50px;
    max-width: none;
    height: auto;
    @media screen and (max-width: 1000px) {
      max-width: 100%;
      margin-top: 10%;
      margin-left: 0;
    }
  }
  &__content {
    max-width: 570px;
    padding-left: 87px;
    padding-top: 118px;
    position: relative;
    z-index: 2;
    background: $aboutBg;
  }
  &__title {
    line-height: 1;
    margin-bottom: 18px;
    text-transform: capitalize;
  }
  &__text {
    margin-bottom: 14px;
  }
}
