@media screen and (max-width: $screen-middle-medium) {
  h2 {
    font-size: 65px;
  }
  .header {
    .menu {
      &__item {
        margin-right: 15px;
      }
    }
  }
  .hero {
    &__content {
      padding: 100px 0 100px;
    }
  }
  .about {
    &__content {
      padding-left: 0;
    }
  }
  .services-section {
    .services {
      padding-left: 10px;
    }
  }
  .blog {
    .post {
      &__date {
        left: 10px;
        top: 10px;
      }
    }
  }
  .contact {
    &__company {
      padding-left: 10px;
    }
    &__form {
      input,
      .contact__message,
      button {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: $screen-medium) {

  .header {
    .menu {
      display: none;
    }
  }

  .about {
    &__content {
      padding-left: 20px;
      padding-top: 20px;
    }
  }

  .services-section {
    padding-top: 20px;
    padding-bottom: 20px;
    .services {
      padding-left: 10px;
      &__title {
        padding: 214px 0;
        text-align: center;
      }
      &__item {
        max-width: 80%;
        margin: 0 auto 20px;
      }
    }
  }
  .subscribe {
    padding: 20px 0;
    input[type="email"] {
      width: 80%;
      margin-bottom: 20px;
    }
    .button--subscribe {
      margin: 0;
    }
  }

  .footer {
    .copyright,
    .footer__logo,
    .slogan
     {
      text-align: center;
    }
  }


  .cell + .cell {
    margin-top: 30px;
  }

  .masonry-container {
    .grid-sizer,
    .grid-item,
    .grid-item--width1,
    .grid-item--width2,
    .grid-item--width3 {
      width: 100% !important;
    }
    .grid-item--height1,
    .grid-item--height2,
    .grid-item--height3 {
      height: auto !important;
    }
  }

}

@media screen and (max-width: $screen-small) {

  h2 {
    font-size: 50px;
  }

  .services-section {
    .services {
      padding-left: 10px;
      &__item {
        max-width: 100%;
        margin: 0 auto 20px;
      }
    }
  }

  .subscribe {
    input[type="email"] {
      width: 100%;
    }
    .button--subscribe {
      width: 100%;
      margin: 0;
    }
  }

  .contact {
    .contact__form {
      input,
      textarea,
      button {
        width: 100%;
      }
    }
  }

}
