$primaryColor: #262626;
$primaryBgColor: #ffffff;
$secondaryBgColor: #cccccc;
$whiteColor: #FFFFFF;
$footerTextColor: #B9B9B9;
$btnBgColor: #5585A2;
$inputBg: #00C4C4;
$heroBtnBg: #ff6033;
$menuLinkBeforeBg: #ff6033;
$aboutBg: #00BFBF;
$servicesBg: #70BFFF;
$galleryBg: #FFE92F;
$subscrBtnBg: #96B92C;
$subscrBorder: #000000;
$blogBg: #B07CF7;
$blogBtnBg: #f72b3b;
$contactBg: #7CA8C0;
$contactBtnBg: #008000;
$inputBorder: #355b82;
$linkHovercolor: #008000;
$sloganSpan: #FF2B58;
$galleryBtnBg: #5585A2;

$fontPrimary: 'Raleway', sans-serif;
$fontTitle: 'Pacifico', cursive;

$primaryWF: 300;

$fsH1Title: 100px;
$fsH2Title: 90px;
$fsH3Title: 60px;
$fsH4Title: 40px;
$fsH5Title: 35px;
$fsH6Title: 17px;
$fsPrimary: 17px;
$lhPrimary: 1.588;

$btnFs: 20px;
$cprtFs: 16px;

$screen-large: 1024px;
$screen-middle-medium: 768px;
$screen-medium: 638px;
$screen-small: 450px;
